# Project Name - AIRBNB_Python_Power BI Data Visualization Project

### Project Type - EDA with Python, Power BI Prep
### Contribution - Individual
### Name - Ayushi Jaiswal

## Project Summary -

For this EDA project, we have chosen the "Airbnb Listings Data" dataset from 2 major cities: Chicago and New Orleans. This dataset provides a comprehensive snapshot of various attributes related to Airbnb listings, such as property type, neighbourhood, pricing, availability, and more. The dataset is ideal for conducting an in-depth exploration of the local Airbnb market and deriving actionable insights.

**Steps to proceed with the dashboard:**

**Data Cleaning**

Begin by addressing the disorder and inconsistency within the dataset. Utilise Jupyter Notebook and Power BI Prep to systematically cleanse the data, rectifying discrepancies, eliminating duplicates, and standardising formats.


**Data Transformation**

Generate supplementary columns by utilising pre-existing categorical data. These columns will be derived from extensive descriptive text, which, in its original form, proved arduous to comprehend and unsuitable for visualization purposes. The extra columns that we created gave a much clear sense of how to approach and make an effective visualization.

**Power BI**

Employ Power BI Prep to leverage its distinctive "Group and Replace" feature. Under the column denoted as Neighbourhood there are instances where identical entities are variably represented due to disparities in letter casing, spelling variations, or phonetic similarity. The "Group and Replace" algorithm inherent to power BI Prep proved instrumental in mitigating this issue.

# **GitHub Link -**

https://github.com/Ayushi28-tech/AIRBNB_Python_Power-BI-Data-Visualization-Project

## Problem Statement

In the context of Airbnb operations, how can the utilisation of Python, Power BI facilitate a comprehensive comparative examination between Chicago and New Orleans, two diverse urban environments?

This inquiry seeks to leverage Power BI visual analytics capabilities to uncover and illustrate the shared attributes, disparities, and distinctive patterns inherent to Airbnb's presence in these cities, thus elevating the depth and insightfulness of the study.

## Let's Begin !

## **1. Data Extraction & Initial Exploration**

In [1]:
import pandas as pd

### Dataset Loading

In [3]:
# Load both datasets
Chicago_df = pd.read_csv("listings.csv")
New_Orleans_df = pd.read_csv("listings (1).csv")

### Dataset First View

In [4]:
# New Orleans Dataset First Look
New_Orleans_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,19091,Fully Furnished Cozy Apartment,72880,John,NaN,Leonidas,29.96100,-90.11950,Entire home/apt,61.0,30,503,2023-11-06,2.78,1,329,0,"22-RSTR-14107, 22-OSTR-14105"
1,71624,Ravenwood Manor (Historic Bywater),367223,Susan,NaN,Bywater,29.96153,-90.04364,Entire home/apt,167.0,30,313,2025-02-02,1.83,1,342,15,"21-RSTR-18609, 22-OSTR-20720"
2,74498,Maison Marais 1,391462,Georgia,NaN,St. Roch,29.96986,-90.05172,Entire home/apt,150.0,3,649,2025-02-23,3.82,3,208,35,23-XSTR-13082
3,79536,FeelAtHomeInNewOrleans-PrivateApt,428362,Miriam,NaN,Seventh Ward,29.97803,-90.07450,Entire home/apt,179.0,3,768,2025-03-01,4.56,1,0,59,"23-NSTR-15067, 24-OSTR-20882"
4,79609,Bywater's Original & Finest,428909,Stephen,NaN,St. Claude,29.96448,-90.03667,Entire home/apt,136.0,30,505,2024-11-14,2.97,1,341,13,"23-ISTR-02823, 23-OSTR-02823"

In [5]:
# Chicago Dataset First Look
Chicago_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,125.0,3,250,2024-10-14,2.02,1,343,16,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,81.0,2,569,2025-02-09,2.98,1,275,53,R24000114046
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,187.0,4,117,2025-01-02,0.88,6,260,34,2209984
3,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,NaN,Logan Square,41.91955,-87.70069,Entire home/apt,196.0,2,244,2025-03-09,1.40,1,55,47,R24000113825
4,71930,"Rest, Relax and Explore",334241,Michael And Veronica,NaN,West Town,41.89615,-87.67934,Private room,76.0,3,129,2024-11-26,0.77,1,0,19,R23000108832

### Dataset Rows & Columns count

In [6]:
# New Orleans Dataset Rows & Columns count
New_Orleans_df.shape

(7842, 18)

In [7]:
# Chicago Dataset Rows & Columns count
Chicago_df.shape

(8748, 18)

### Dataset Information

In [8]:
# New Orleans Dataset Info
New_Orleans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7842 entries, 0 to 7841
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7842 non-null   int64
 1   name                            7842 non-null   object
 2   host_id                         7842 non-null   int64
 3   host_name                       7829 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7842 non-null   object
 6   latitude                        7842 non-null   float64
 7   longitude                       7842 non-null   float64
 8   room_type                       7842 non-null   object
 9   price                           6640 non-null   float64
 10  minimum_nights                  7842 non-null   int64
 11  number_of_reviews               7842 non-null   int64
 12  last_review                     6514 non-null   object
 13  reviews_per_month               6514 non-null   float64
 14  calculated_host_listings_count  7842 non-null   int64
 15  availability_365                7842 non-null   int64
 16  number_of_reviews_ltm           7842 non-null   int64
 17  license                         6493 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.1+ MB

In [9]:
# Chicago Dataset Info
Chicago_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8748 entries, 0 to 8747
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8748 non-null   int64
 1   name                            8748 non-null   object
 2   host_id                         8748 non-null   int64
 3   host_name                       8748 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   8748 non-null   object
 6   latitude                        8748 non-null   float64
 7   longitude                       8748 non-null   float64
 8   room_type                       8748 non-null   object
 9   price                           7718 non-null   float64
 10  minimum_nights                  8748 non-null   int64
 11  number_of_reviews               8748 non-null   int64
 12  last_review                     6870 non-null   object
 13  reviews_per_month               6870 non-null   float64
 14  calculated_host_listings_count  8748 non-null   int64
 15  availability_365                8748 non-null   int64
 16  number_of_reviews_ltm           8748 non-null   int64
 17  license                         6845 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.2+ MB

### Variables Description

**Key Attributes:**

1. id: Unique identifier for each listing.

2. name: The title or name of the listing.

3. host_id: Unique identifier for the host of the property.

4. host_name: Name of the host.

5. neighbourhood_group: The broader area or group that the neighbourhood belongs to.

6. neighbourhood: Specific neighbourhood where the property is located.

7. latitude: Latitude coordinate of the property.

8. longitude: Longitude coordinate of the property.

9. room_type: Type of room (e.g., Private room, Entire home/apt, Shared room).

10. price: Price of the listing per night.

11. minimum_nights: Minimum number of nights required for booking.

12. number_of_reviews: Total number of reviews received for the listing.

13. last_review: Date of the last review.

14. reviews_per_month: Average number of reviews per month.

15. availability_365: Number of days the listing is available for booking in a year.

#### Combine both datasets

In [11]:
combined_df = pd.concat([Chicago_df, New_Orleans_df], ignore_index=True)

In [12]:
# Quick inspection
combined_df.info()
combined_df.describe(include='all')
combined_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              16590 non-null  int64
 1   name                            16590 non-null  object
 2   host_id                         16590 non-null  int64
 3   host_name                       16577 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   16590 non-null  object
 6   latitude                        16590 non-null  float64
 7   longitude                       16590 non-null  float64
 8   room_type                       16590 non-null  object
 9   price                           14358 non-null  float64
 10  minimum_nights                  16590 non-null  int64
 11  number_of_reviews               16590 non-null  int64
 12  last_review                     13384 non-null  object
 13  reviews_per_month               13384 non-null  float64
 14  calculated_host_listings_count  16590 non-null  int64
 15  availability_365                16590 non-null  int64
 16  number_of_reviews_ltm           16590 non-null  int64
 17  license                         13338 non-null  object
dtypes: float64(5), int64(7), object(6)
memory usage: 2.3+ MB

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,125.0,3,250,2024-10-14,2.02,1,343,16,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,81.0,2,569,2025-02-09,2.98,1,275,53,R24000114046
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,187.0,4,117,2025-01-02,0.88,6,260,34,2209984
3,28749,Quirky Bucktown Loft w/ Parking No Parties,27506,Lauri,NaN,Logan Square,41.91955,-87.70069,Entire home/apt,196.0,2,244,2025-03-09,1.40,1,55,47,R24000113825
4,71930,"Rest, Relax and Explore",334241,Michael And Veronica,NaN,West Town,41.89615,-87.67934,Private room,76.0,3,129,2024-11-26,0.77,1,0,19,R23000108832

In [21]:
# Updated Dataset Shape
combined_df.shape

(14358, 18)

## **2. Data Cleaning**

### Drop duplicates

In [13]:
# Drop duplicate rows
combined_df.drop_duplicates(inplace=True)

### Handle Missing Values

In [14]:
# Handle missing values in key columns
combined_df = combined_df.dropna(subset=["name", "host_id", "price", "room_type", "neighbourhood"])

In [15]:
# Clean price field
combined_df["price"] = combined_df["price"].replace('[\$,]', '', regex=True).astype(float)

In [18]:
# Updated null values count
combined_df.isna().sum()

id                                    0
name                                  0
host_id                               0
host_name                             9
neighbourhood_group               14358
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2662
reviews_per_month                  2662
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                            2590
dtype: int64

### What did you know about your dataset?

The Airbnb Listings Data contains information about different properties available for rent on Airbnb in a specific city. Each record represents a unique listing and includes attributes such as property type, neighbourhood, number of bedrooms, pricing, availability, host information, and more.

There are no duplicate rows in our dataset.

The last_review and reviews_per_month column may have null values because of 0 number_of_reviews for that listing, hence the listing having 0 reviews don't have last review or reviews per month value.

Last_review was in object datatype, while should be in datetime dtype

### Standardize data formats

In [16]:
# Standardize date columns
combined_df["last_review"] = pd.to_datetime(combined_df["last_review"], errors='coerce')

In [17]:
# Standardize text columns (trim & lowercase)
combined_df["neighbourhood"] = combined_df["neighbourhood"].str.strip().str.lower()
combined_df["room_type"] = combined_df["room_type"].str.title()

In [19]:
# Replacing null values that are in column last_review and reviews_per_month column
combined_df.fillna(0, inplace = True)

In [20]:
# Updated null values count
combined_df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
dtype: int64

## **3.Data Transformation**

### Create derived columns

In [22]:
# Revenue estimate
combined_df["estimated_revenue"] = combined_df["price"] * combined_df["availability_365"]

In [23]:
# Categorize price range
combined_df["price_category"] = pd.cut(combined_df["price"],
                                       bins=[0, 75, 150, 300, 10000],
                                       labels=["Low", "Medium", "High", "Luxury"])

In [24]:
# Simplify host response time (if present)
if "host_response_time" in combined_df.columns:
    combined_df["host_response_time"] = combined_df["host_response_time"].str.lower().str.replace("_", " ")

### Split complex fields

In [25]:
# If there's a description or amenities column
if "amenities" in combined_df.columns:
    combined_df["amenities_count"] = combined_df["amenities"].str.count(",") + 1

## **4.Export Cleaned Data**

In [26]:
combined_df.to_csv("cleaned_airbnb_data.csv", index=False)

### What all manipulations have you done and insights you found?

Appended the datasets on top of one another.

Some columns have been removed from the dataset.

Null values present in price column removed.

Null values in last_review and reviews per month replaced with zero.

Appended dataset combine_df have been saved named as cleaned_airbnb_data in a csv format and is ready for transformation and analysis in Power BI Prep.